.homepageContainer {
  background-image: url('../../assets/img/text.png');
  background-repeat: repeat-y;
  width: 100%;
  height: 100%;

  .typing {
    margin-top: 2rem;
    margin-bottom: 4rem;
    align-self: center;
  }

  p {
    font-size: 6rem;
    font-weight: 600;
    padding: 0.5rem;
    color: #494949;
    text-align: center;
  }
}
