.button {
  font-size: 1.75rem;
  font-weight: bolder;
  color: rgb(245, 245, 245);
  background-color: inherit;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  margin: 0 1rem;

  i{
    font-size: 2.5rem;
    margin-right: 0.5rem;
  }

  .buttonLabel {
    @media only screen and (max-width: 660px) {
      display: none;
    }
  }
}